<tr id='<%=visitorId%>'>
	<div id='userEntry' class='userListing'>
		<td>
		<div class='userId'>
			<p class="text-success" ><%=visitorId%></p>
		</div></br>
		<div class='userName'>
			<p class="text-success" onClick=customer.editUserId('<%=visitorId%>',this,'<%=id%>')> <%=visitorName%></p>
		</div></br>
	<%if(location) {%>
		<div class='locationDetails alert'>
			<img id='flagIcon<%=visitorId%>' src='/img/flags/png/<%=location["geoplugin_countryCode"].toLowerCase()%>.png' data-toggle='tooltip' data-trigger='hover click' data-title='<%=location["geoplugin_countryName"]%>' class='flagIcon'/ 
			<a href='#' id='map<%=visitorId%>' data-trigger='click' titel='<%=location["geoplugin_city"]%>' data-html='true'><%=location["geoplugin_city"]%></a>
				[<%=location["geoplugin_currencySymbol"]%> <%=location["geoplugin_currencyConverter"]%> = $1]
		</div>
	<% }else {%>
		<div class='locationDetails alert'>Location fetching...</div>
	<%}%>
	<%if(typeof ua != 'undefined'){%>
		<div class='browserDetails alert'><img class='imageIconMedium' src='/img/browsers/png/<%=ua.ua.family.toLowerCase().replaceAll(" ","_")%>.png' title='<%=ua.ua.family%>'/> <%=ua.ua.major%>.<%=ua.ua.minor%>
			<img class='imageIconMedium' src='/img/os/png/<%=ua.os.family.toLowerCase().replaceAll(" ","_")%>.png' title='<%=ua.os.family%>'> <%=ua.os.major%>.<%=ua.os.minor%></img>
		<%=ua.device.family%></div>
	<%}%>
		<div id='screenshots<%=visitorId%>' class='screenshotDetails alert'>
			<div id="links">    					
			</div>
		<div>
		</td>
	<td>
		<div class='googleAnalytics container-fluid '>
			<div>
			<%if(gAData.__utmcmd != null) {%>
				<div class='row alert-success'>
					<div>Medium: <%=gAData.__utmcmd%></div>
				</div>
			<%}%> 
			<%if(gAData.__utmcsr != null) {%>
				<div class='row alert-info'>
					<div>Source: <%=gAData.__utmcsr%></div>
				</div>
			<%}%>
			<%if(gAData.__utmcct != null) {%>
				<div class='row alert-danger'>
					<div>Content: {gAData.__utmcct%></div>
				</div>
			<%}%>
			<%if(gAData.__utmccn != null) { %>
				<div class='row alert-success'>
					<div>Campaing: <%=gAData.__utmccn%></div>
				</div>
			<%}%>
			<%if(gAData.__utmctr != null) { %>
				<div class='row alert-info'>
					<div>Keyword: <%=gAData.__utmctr%></div>
				</div>
			<%}%>
			<%if(gAData.__utmclid != null) {%>
				<div class='row alert-danger'>
					<div>Adword: <%=gAData.__utmclid%></div>
				</div>
			<%}%>
			<%if(gAData.__utma != null) {%>
				<div class='row alert-success'>
					<div>Initial Visit: <%=getDateString(gAData.__utma.split('.')[2])%></div>
				</div>
				<div class='row alert-info'>
					<div>Previous Visit:</div><div class='span4'><%=getDateString(gAData.__utma.split('.')[3])%></div>
				</div>
				<div class='row alert-danger'>
					<div>Session Begin: <%=getDateString(gAData.__utma.split('.')[4])%></div>
				</div>
				<%}%>
				<%if(gAData.__utmb != null) {%>
					<div class='row alert-success'>
						<div>Total Visits: <%=gAData.__utmb.split('.')[1]%></div>
					</div>
				<%}%>
				<%if(gAData.__utmv != null) { %>
					<div class='row alert-info'>
						<div class='span4'>Custom Variable: <%=gAData.__utmv%></div>
					</div>
				<%}%>
				<%if(referer != null) { %>
					<div class='row alert-danger'>
						<div>Known: <%=referer.known%></div>
					</div>
					<div class='row alert-success'>
						<div>Referer: <%=referer.referer%></div>
					</div>
					<div class='row alert-info'>
						<div>Medium: <%=referer.medium%></div>
					</div>
					<div class='row alert-danger'>
						<div>Search Term: <%=referer.search_term%></div>
					</div>
					<div class='row alert-success'>
						<div>Uri: <%=referer.uri.href%></div>
					</div>
					<div class='row alert-info'>
						<div class='span4'>Current:</div><div id='curent_url<%=visitorId%>' class='span1'><%=current_url%></div>
					</div>
					<%}%>
				</div>
			</div>
		</td>
		<td>
						<div class='chatPanel'>
							<div id='chatMsgBox<%=visitorId%>' class='chatMessages maxHeight100 scrollbar backgroundWhite'></div>
							<div class='alert'>
							<div id='chatSendBox<%=visitorId%>'class='chatText input-append'>
  								<input id='chatMsg<%=visitorId%>' class="input-block-level" id="chatMsg<%=visitorId%>" type="text" placeholder="Chat" onkeydown="if (event.keyCode == 13) customer.sendChatMessage('<%=id%>','<%=visitorId%>',$('#chatMsg<%=visitorId%>').val());">
							<%if(webrtc.support) {%>
								<%if(webrtc.webAudio && typeof 	phonoId != 'undefined') {%>
								<img id='callButton<%=phonoId%>' class='imageIconMedium marginLeft' src='/img/actions/png/audio.png' title='Call' onClick=customer.audioCall('<%=phonoId%>',this)></img>
								<% } else { %>
								<img class='imageIconMedium marginLeft' src='/img/actions/png/dnd.png' title='No Call'></img>
								<%}%>
								<%if(webrtc.mediaStream) {%>
								<img class='imageIconMedium marginLeft' src='/img/actions/png/video.png' title='Video'></img>
								<%} else {%>
								<img class='imageIconMedium marginLeft' src='/img/actions/png/dnd.png' title='No Video'></img>
								<%}%>
							<%} else {%>
								<img class='imageIconMedium marginLeft' src='/img/actions/png/dnd.png' title='No WebRTC'></img>
							<%}%>
							<img class='imageIconMedium marginLeft' src='/img/actions/png/screen.png' title='Screen'  onClick=customer.screenshot('<%=id%>','<%=visitorId%>') ></img>
							<img class='imageIconMedium marginLeft' src='/img/actions/png/email.png' title='Email' onClick = customer.emailVisitorDetails('<%=visitorId%>')></img>
							</div>
							</div>
						</div>					
					</td>
	</div>
</tr>
	
	